# THIS FILE IS FOR INFORMATIONAL PURPOSES ONLY.
# REAL .ENV FILE WILL BE CREATED AUTOMATICALLY DURING INSTALLATION.
# ALTERNATIVELY YOU CAN CREATE YOUR OWN .ENV FILE FROM THIS TEMPLATE.

# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=system_path_to_project
SYMFONY_APP_PORT=8090
KIBANA_PORT=8091

# PostgresSQL
POSTGRES_PASSWORD=some_password
POSTGRES_USER=some_user
POSTGRES_DB=some_db_name
POSTGRES_PORT=5432

# Timezone
TIMEZONE=Europe/Warsaw

# Portainer
PORTAINER_PORT=9000

# Pgadmin4
PGADMIN4_PORT=5050
PGADMIN_DEFAULT_EMAIL=your@email.com
PGADMIN_DEFAULT_PASSWORD=some_password

# Build and deploy
PRIVATE_DOCKER_REGISTRY_PATH=some-docker-registry
